*.txt
*.aux
*.backup
*.tex~
*.bib~
*.pdf
*.log
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.kilepr
*.gnuplot
*.plot
*.synctex.gz
*.pdf
